In [3]:
df3 = pd.merge_asof(df2,df1,on='a')
df3

     a  b1     b
0    0   0   NaN
1    1   1  20.0
2    2   2  40.0
3    3   3  40.0
4    4   4  40.0
5    5   5  60.0
6    6   6  60.0
7    7   7  60.0
8    8   8  60.0
9    9   9  60.0
10  10  10  80.0

In [1]:
import requests
import json

quot = requests.get('https://api.polygon.io/v2/ticks/stocks/nbbo/SPY/2020-10-14?reverse=false&apiKey=lufsUoEw8W8uwOu6T9S3jMYSTFBCvUyf')

quot = json.loads(quot.text)

In [13]:
import pandas as pd

df1 = pd.DataFrame(quot["results"])

In [14]:
trad = requests.get('https://api.polygon.io/v2/ticks/stocks/trades/SPY/2020-10-14?reverse=false&apiKey=lufsUoEw8W8uwOu6T9S3jMYSTFBCvUyf')
trad = json.loads(trad.text)

In [15]:
df2 = pd.DataFrame(trad['results'])
print(df2.head())
print(len(df2))

                     t                    y       q               i   x    s  \
0  1602662400013037568  1602662400013010688  114301  52983525027889  11  351
1  1602662400184239872  1602662400184208896  114401  52983525027890  11   10
2  1602662400999701248  1602662400999350883  114701  62879129947992  12    2
3  1602662409152549632  1602662409152190867  114901  62879129948219  12    1
4  1602662414934051072  1602662414933700608  115001  62879129948257  12    1

                  c       p  z   f   r   e
0          [12, 41]  351.60  1 NaN NaN NaN
1  [14, 12, 37, 41]  351.56  1 NaN NaN NaN
2  [14, 12, 37, 41]  351.59  1 NaN NaN NaN
3          [12, 37]  351.53  1 NaN NaN NaN
4          [12, 37]  351.52  1 NaN NaN NaN
50000

In [16]:
df1.y = pd.to_datetime(df1.y)

In [17]:
df2.y = pd.to_datetime(df2.y)

In [18]:
df2.head()

,t,y,q,i,x,s,c,p,z,f,r,e
0,1602662400013037568,2020-10-14 08:00:00.013010688,114301,52983525027889,11,351,"[12, 41]",351.60,1,NaN,NaN,NaN
1,1602662400184239872,2020-10-14 08:00:00.184208896,114401,52983525027890,11,10,"[14, 12, 37, 41]",351.56,1,NaN,NaN,NaN
2,1602662400999701248,2020-10-14 08:00:00.999350883,114701,62879129947992,12,2,"[14, 12, 37, 41]",351.59,1,NaN,NaN,NaN
3,1602662409152549632,2020-10-14 08:00:09.152190867,114901,62879129948219,12,1,"[12, 37]",351.53,1,NaN,NaN,NaN
4,1602662414934051072,2020-10-14 08:00:14.933700608,115001,62879129948257,12,1,"[12, 37]",351.52,1,NaN,NaN,NaN

In [19]:
df2 = df2[['y','p','s']]
df1 = df1[['y','p','s','P','S']]
print(df2.head())
print(df1.head())

                              y       p    s
0 2020-10-14 08:00:00.013010688  351.60  351
1 2020-10-14 08:00:00.184208896  351.56   10
2 2020-10-14 08:00:00.999350883  351.59    2
3 2020-10-14 08:00:09.152190867  351.53    1
4 2020-10-14 08:00:14.933700608  351.52    1
                              y       p  s       P  S
0 2020-10-14 08:00:00.433516643  351.56  5  351.64  3
1 2020-10-14 08:00:00.433574763  351.56  6  351.64  3
2 2020-10-14 08:00:00.697614746  351.58  6  351.64  3
3 2020-10-14 08:00:00.735212563  351.59  5  351.64  3
4 2020-10-14 08:00:00.896837888  351.59  5  351.65  3

In [20]:
df2.columns = ['time','trade_price','trade_size']
df1.columns = ['time','bid','bid_size','ask','ask_size']
print(df2.head())
print(df1.head())

                           time  trade_price  trade_size
0 2020-10-14 08:00:00.013010688       351.60         351
1 2020-10-14 08:00:00.184208896       351.56          10
2 2020-10-14 08:00:00.999350883       351.59           2
3 2020-10-14 08:00:09.152190867       351.53           1
4 2020-10-14 08:00:14.933700608       351.52           1
                           time     bid  bid_size     ask  ask_size
0 2020-10-14 08:00:00.433516643  351.56         5  351.64         3
1 2020-10-14 08:00:00.433574763  351.56         6  351.64         3
2 2020-10-14 08:00:00.697614746  351.58         6  351.64         3
3 2020-10-14 08:00:00.735212563  351.59         5  351.64         3
4 2020-10-14 08:00:00.896837888  351.59         5  351.65         3

In [23]:
df1 = df1.sort_values('time')
df2 = df2.sort_values('time')
df3 = pd.merge_asof(df2,df1,on='time')
print(df3.tail())

                               time  trade_price  trade_size     bid  \
49995 2020-10-14 14:25:26.270426624       350.69          13  349.62
49996 2020-10-14 14:25:26.270451000       350.69         398  349.62
49997 2020-10-14 14:25:26.270623744       350.69         987  349.62
49998 2020-10-14 14:25:26.270784000       350.69         887  349.62
49999 2020-10-14 14:25:26.270851072       350.69          13  349.62

       bid_size     ask  ask_size
49995       5.0  349.64       5.0
49996       5.0  349.64       5.0
49997       5.0  349.64       5.0
49998       5.0  349.64       5.0
49999       5.0  349.64       5.0

In [24]:
df3.to_csv('taq.csv',index=False)
df1.to_csv('quotes.csv',index=False)
df2.to_csv('trades.csv',index=False)

In [25]:
df3 = pd.merge_asof(df1,df2,on='time')
df3.to_csv('qat.csv',index=False)

In [2]:
buff = 0
bid_df = []
i = 0
from IPython.display import display, clear_output
while True:

    btcquot = requests.get('https://api.polygon.io/v2/snapshot/locale/global/markets/crypto/tickers/X:BTCUSD/book?&apiKey=lufsUoEw8W8uwOu6T9S3jMYSTFBCvUyf')
    btcquot = json.loads(btcquot.text)
    if btcquot["data"]["updated"] != buff:
        clear_output(wait=True)
        buff = btcquot["data"]["updated"]
        b = btcquot["data"]['bids'][-1]['p']
        size = sum(btcquot["data"]['bids'][-1]['x'].values())
        bid_df += [(btcquot["data"]['bids'][-1]['p'], size,
                   btcquot["data"]["updated"])]
        print(btcquot["data"]['bids'][0]['p'])
        i = i+1
        
    if len(bid_df) > 20:
        break

32448

In [61]:
df4 = pd.DataFrame(bid_df,columns=['bid','bid_size','time'])
df4.time = pd.to_datetime(df4.time)
df4.to_csv('btcticksample.csv', index = False)

In [4]:
print(btcquot["data"]['bids'][-1]['p'])
print(btcquot["data"]['asks'][-1]['p'])

30975
32369

In [95]:
bimba = requests.get('https://api.polygon.io/v2/snapshot/locale/global/markets/crypto/tickers/X:BTCUSD?&apiKey=lufsUoEw8W8uwOu6T9S3jMYSTFBCvUyf')
bimba = json.loads(bimba.text)
print(bimba['ticker']['lastTrade'])

{'c': [1], 'i': '194778975', 'p': 31414.35, 's': 0.00935741, 't': 1626621495285, 'x': 1}

In [93]:
spy = requests.get('https://api.polygon.io/v2/last/nbbo/SPY?&apiKey=lufsUoEw8W8uwOu6T9S3jMYSTFBCvUyf')
spy = json.loads(spy.text)
print(spy)

{'results': {'c': [1], 'i': [605], 'p': 431.27, 's': 11, 'x': 11, 'P': 431.3, 'S': 1, 'X': 11, 'z': 1, 'T': 'SPY', 't': 1626479915170710272, 'y': 1626479915170367005, 'q': 55778085}, 'status': 'OK', 'request_id': '15687524a6ba73c3a875b1b46715394b'}

In [96]:
spy = requests.get('https://api.polygon.io/v2/last/trade/SPY?&apiKey=lufsUoEw8W8uwOu6T9S3jMYSTFBCvUyf')
spy = json.loads(spy.text)
print(spy)

{'results': {'c': [15], 'i': '52983560361298', 'p': 431.34, 's': 1195837, 'x': 11, 'z': 1, 'T': 'SPY', 't': 1626480000002585088, 'y': 1626480000002557696, 'q': 929430}, 'status': 'OK', 'request_id': '44044822df309985be3c107abf1c48e1'}